package about

import "github.com/wizact/go-webapp/views/layouts"

templ About(name string) {
	@layouts.Base(name) {
		<div class="container mx-auto p-4">
			<section class="mb-6">
				<!-- a single div grid using tailwind css with content justify-center -->
				<div>
					{ children... }
				</div>
			</section>
		</div>
		<div id="app"></div>
		<div id="output" data-module="main"></div>
	}
}
