package home

import "github.com/wizact/go-webapp/views/layouts"

templ Index(name string) {
    @layouts.Base() {
        <h1>Todo List App</h1>
        <div>Hello, { name }</div>
        <div id="app"></div> 
        <div id="output" data-module="main"></div>
    }
}
